{% extends 'index2.html' %}

{% block content %}
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						
						<h1>Login</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					
				 	<div id="form_status"></div>
					<div class="contact-form">
						<form method="post" action="{% url 'userin' %}">
							{% csrf_token %}	
              <p>
                <label for="username" style="font: bold;">USER NAME:</label><br>
								<input type="text" placeholder="username" name="username" id="username">
                                
							</p>
              <p>
                  <label for="username" style="font: bold;">PASSWORD:</label><br>
								<input style="width: 49%;
                                padding: 15px;
                                border: 1px solid #ddd;
                                border-radius: 3px;" 
                                type="password" placeholder="password" name="password" id="password">
							</p>
						    <p><input type="submit" value="Submit"></p>
						</form>
						{{msg}}
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- end contact form -->
    {% endblock %}
	